@model HoaxBuzzer.Web.Models.BevoreVoteScreenModel

@{
    var article = Model.Article;
    var screenshotUrl = Url.Action("Image", new { imageId = article.fkScreenshot });
}

<div class="article">
<div class="article__img-wrapper" style="text-align: center">
	<img class="article__img" style="margin: auto; width: 100%; max-height: 40vh; border: 0;" src="@screenshotUrl" alt="screenshot" />
</div>
<div class="article__text-wrapper" style="padding-left: 10px; padding-right: 10px">
	<h1 class="article__heading" style="font-size: 30px; line-height: 1.1em; margin: 0.3em 0;">@article.heading</h1>
	<p class="article__content" style="font-size: 18px; margin-top: 0; margin-bottom: 0.3em">@article.summary</p>
	<small style="font-size: 12px; margin-bottom: 10px; display: block;">Quelle: @article.sourceUrl</small>
	<div class="article__shares">
  @if (article.fbLikes != null){ <div class="article__share"><i class="fa fa-thumbs-up fb" aria-hidden="true"></i> @article.fbLikes</div> }
  @if (article.fbComments != null){ <div class="article__share"><i class="fa fa-comment fb" aria-hidden="true"></i> @article.fbComments</div> }
  @if (article.fbShares != null){ <div class="article__share"><i class="fa fa-share fb" aria-hidden="true"></i> @article.fbShares</div> }
  @if (article.twLikes != null){ <div class="article__share"><i class="fa fa-heart tw" aria-hidden="true"></i> @article.twLikes</div> }
  @if (article.twRetweets != null){ <div class="article__share"><i class="fa fa-retweet tw" aria-hidden="true"></i> @article.twRetweets</div> }
  </div>
</div>
