@using System.Web.UI.HtmlControls
@{
    ViewBag.Title = "Home Page";
}

<table style="width: 100%; text-align: center; font-size: 3em">
    <tr><td></td><td>@Html.ActionLink("N", "ScreenN")</td><td></td></tr>
    <tr><td>@Html.ActionLink("W", "ScreenW")</td><td>@Html.ActionLink("S", "ScreenS")</td><td>@Html.ActionLink("O", "ScreenO")</td></tr>
</table>

@Html.ActionLink("Iframes","Iframes")<br/>