@{
    ViewBag.Title = "Home Page";
}

<style>
    table,ul { font-size: 5em}
    table td {padding: 1em}
    ul {padding-left: 10vw}
</style>

<table style="width: 100%; text-align: center">
    <tr><td></td><td>@Html.ActionLink("N", "ScreenN")</td><td></td></tr>
    <tr><td>@Html.ActionLink("W", "ScreenW")</td><td>@Html.ActionLink("S", "ScreenS")</td><td>@Html.ActionLink("O", "ScreenO")</td></tr>
</table>

<ul>
    <li>@Html.ActionLink("iframes", "Iframes")</li>
    <li><a href="javascript:;" class="reset-command">RESET</a></li>
    <li><a href="http://viewportsizes.com/mine/">http://viewportsizes.com/mine/</a></li>
</ul>
