@using HoaxBuzzer.Web.Helper
@{
    ViewBag.Title = "Home Page";
    var voteDelay = AppSettings.Get("VoteDelay");
    var animationTime = string.Format("{0}s", voteDelay).ToRawHtml();
}

<style>
    table,ul { font-size: 5em}
    table td {padding: 1em}
    ul {padding-left: 10vw}
</style>

<table style="width: 100%; text-align: center">
    <tr><td></td><td>@Html.ActionLink("N", "ScreenN")</td><td></td></tr>
    <tr><td>@Html.ActionLink("W", "ScreenW")</td><td>@Html.ActionLink("S", "ScreenS")</td><td>@Html.ActionLink("O", "ScreenO")</td></tr>
</table>

<ul>
    <li>@Html.ActionLink("iframes", "Iframes")</li>
    <li><a href="javascript:;" class="reset-command">RESET</a></li>
    <li><a href="http://viewportsizes.com/mine/">http://viewportsizes.com/mine/</a></li>
</ul>


<div class="buttons">
    <button class="vote-true" style="float: right; background: green">&#128077;</button>
    <button class="vote-false" style="float: left; background: red">&#128078;</button>
    <br style="clear: both" />
</div>
<style>
    .buttons button { width: 45%; font-size: 3em;height: 100vh; }

    @@keyframes ButtonAnimation {
        0% {opacity: 1;}
        5% {opacity: 0.3;}
        95% {opacity: 0.3;}
        100% {opacity: 1;}
    }
    body.animate .buttons {
            animation: ButtonAnimation @animationTime;
    }
</style>

@section scripts
{
    <script>
        jQuery(document).ready(function($) {
            "use strict";
            var ajaxSetVote = window.config.ajaxSetVote;
            
            function vote(value) {
                var articleId = $("#article-id").text();
                var ajaxUrl = ajaxSetVote + '?voteValue=' + (value ? "True" : "False");
                $.get(ajaxUrl);
                $(document.body).StartCssAnimation("animate");
            }

            $(".vote-true").on("click", function() { vote(true); });
            $(".vote-false").on("click", function() { vote(false); });
        });
    </script>
}
